*.class

# Package Files #
*.jar
*.war
*.ear

# Maven
target

# Eclipse
.classpath
.metadata
.project
.settings

configuration.properties.bevan
configuration.properties.local
configuration.properties.prod
